<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload and prediction</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>XGBoost Model Prediction</h1>
        <form id="UploadForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload and predict</button>
        </form>
        <div id="output">
            <div id="loading" style="display: none;">
                <p>Processing... Please wait.</p>
                <div class="spinner"></div>
            </div>
        </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>